<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
  <h1>Code Runner Demo</h1>
  <main>
    <p>language: </p>
    <input name="language" id="language" /><br/>
    <p>version: </p>
    <input name="version" id="version" /><br/>
    <p>code: </p>
    <textarea rows="3" cols="20" id="code"></textarea><br/>
    <button type="submit" onclick="handleSubmit()">submit</button><br/>
    <textarea rows="3" cols="20" id="result"></textarea>
  </main>
</body>
<script>
  const languageInput = document.getElementById('language')
  const versionInput = document.getElementById('version')
  const codeInput = document.getElementById('code')

  async function handleSubmit() {
    const payload = {
      language: languageInput.value,
      version: versionInput.value,
      code: codeInput.value
    }
    const { errno, data } = await fetch('/runner', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify(payload)
    }).then(response => response.json())

    if (!errno) {
      document.getElementById('result').value = data
    }
  }
</script>
</html>